.cdk-overlay-pane{
    width: max-content !important;
}
.selectMatFormField{
    width: 100%;

}
.error-message{
    display: flex;
    position: absolute;
    background: white;
    padding: 1rem;
    left: 20px;
    z-index: 100;
    width: 80%;
    bottom: -70px;
    border-radius: 5px;
    color: var(--alerts-color-warning);
    box-shadow: 1px 1px 10px var(--shadow-color);
    text-align: center;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 30px;
}