<div class="bgModal">
    <div class="modal">
        <div class="leftSection">
            <header>
                <div class="img"></div>
                <div class="labels">
                    <h2>Build an app like</h2>
                    <h3>{{baseData.title}}</h3>
                </div>
            </header>
            <section class="description">
                <div class="costAndFeatures">
                    <div class="cost">
                        <h3>Cost from</h3>
                        <p>{{baseData.cost}}</p>
                    </div>
                    <div class="featuresNum">
                        <h3>Features</h3>
                        <p>{{baseData.numberFeatures}}</p>
                    </div>
                </div>
                <div class="descriptionBody">
                    <p>{{baseData.description}}</p>
                </div>
            </section>
            <section class="featuresTable">
                <div class="journeyLabel">
                    <h2>Journeys</h2>
                    <span class="material-icons md-outlined">info</span>
                </div>
                <div class="journeyTable">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                        <!-- Name Column -->
                        <ng-container matColumnDef="Feature">
                          <th mat-header-cell *matHeaderCellDef style="color: rgb(75, 74, 74);"> Feature </th>
                          <td mat-cell *matCellDef="let element" style="color: rgb(75, 74, 74);"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Cost Column -->
                        <ng-container matColumnDef="Cost">
                          <th mat-header-cell *matHeaderCellDef style="color: rgb(75, 74, 74);"> Cost </th>
                          <td mat-cell *matCellDef="let element" style="color: rgb(75, 74, 74);"> {{element.cost | currency}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </section>
        </div>
        <div class="rightSection">
            <div class="closeBtn" (click)="closeModal()">
                <span class="material-icons md-light">close</span>
            </div>
            <div class="previewMobile"></div>
            <button class="btnAdd" (click)="useBase()">Add base</button>
        </div>
    </div>
</div>
<!--  -->