.sectionSteps{
    margin-left: 80px;
    background-color: transparent;
}
.formStepOne,.formStepTwo,.formStepThree{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 60%;
    border: 1px solid var(--brand-yellow-color);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 5px 10px var(--shadow-color);
}
.formStepOne{
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 4rem 0rem;
}
.formStepOne .mat-form-field{
    width: 70%;
    margin: 1rem auto;
}
.formStepOne .contBtn{
    margin-top: 2rem;
}
.title{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
}
.title >  h2{
    width: fit-content;
    margin: auto;
    background: transparent;
    font-size: 1.5rem;
    color: var(--primary-text-color);
}
.stepsArea{
    width: 80%;
    margin: auto;
}
button{
    padding: 1rem 4rem;
    border-radius: 5px;
    border: none;
    background: var(--brand-yellow-color);
    color: var(--auxiliar-bg-color);
    font-weight: bold;
    cursor: pointer;
}
button:active{
    transform: scale(.9,.9);
}
.btnBack{
    background: var(--primary-text-color);
    margin-right: 1rem;
}
.previewCard{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contentCard{
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
}
.textOptions{
    color: var(--primary-text-color);
    font-size: 1.3rem;
    width: fit-content;
    margin: 1rem auto;
}
.textOptional{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--second-text-color);
}
.btnAdd{
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    background: var(--auxiliar-bg-color);
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   margin: auto;
   transition: all .3s ease;
}
.btnAdd:active{
    transform: scale(.9,.9);
}
.btnAdd > span{
    background: transparent;
    font-size: 48px;
   
}
.btnDeleteCard{
    position: absolute;
    right: -12px;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;
}
.btnDeleteCard:hover mat-icon{
    box-shadow: 1px 1px 10px var(--brand-yellow-color);
    transform: scale(1.1,1.1);
}
.btnDeleteCard:active mat-icon{
    transform: scale(.9,.9);
}
.btnDeleteCard mat-icon{
    font-size: 1.8rem;
    background: var(--main-bg-color);
    color: var(--brand-yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 10px var(--shadow-color);
    transition: all .3s ease;
}
.formStepFour{
    border-radius: 0px 15px 15px;
    border: 1px solid #651fff2b;
    background-image: url(../../../../assets/images/waveDown.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.top .rightSection{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.top .leftSection{
    width: 60%;
}
.infoText{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: var(--primary-text-color);
}
.infoText .details {
    width: 100%;
}
.infoText .details p{
    font-size: 1rem;
    color: var(--primary-text-color);
}
.infoText .details p .titleLine{
font-weight: bold;
}
.infoText .details ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 1rem auto;
}
.infoText .details ul li{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--auxiliar-bg-color);
}
.top .leftSection .infoText h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    
}
.preview{
    width: 180%;
    height: 600px;
    border-radius: 15px;
}

.container h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}
.stepFourTitle{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--primary-text-color);
    margin-bottom: 0px;
    border-bottom: 1px solid var(--border-color-second);
    padding-bottom: 2rem;
}
.detailsDelivery{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start !important;
    gap: 5px;
}
.detailsDelivery h3{
    font-size: 1.5rem !important;
}
.docChip >p {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--auxiliar-bg-color);
}
.numbersLabel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #e5dddd4f;
    border-radius: 15px;
}
.numbersLabel .infot h3{
    font-size: 1.5rem !important;
    margin-top: 1rem;
    color: var(--primary-text-color);
}
.numbersLabel .infot{
    width: max-content;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.docChip >p {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--auxiliar-bg-color);
}
.numbersLabel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.numbersLabel .infot h3{
    font-size: 1.2rem !important;
    margin-top: 1rem;
    color: var(--primary-text-color);
}
.numbersLabel .infot p{
    font-size: 1.2rem !important;
    margin-top: 1rem;
    color: var(--primary-text-color);
    text-align: center;
}
.numbersLabel .infot{
    width: max-content;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}
.numbersLabel .costLabel{
    border-radius: 15px 0px 0px 15px;
    padding: 0px 3rem;
    border-right: 2px solid var(--shadow-color);
}
.numbersLabel .durationLabel{
    border-radius: 0px 15px 15px 0px;
    padding-left: 3rem;
}

.imgDecoration{
    position: relative;
    margin: 2rem auto;
    height: 20px;
}
.imgDecoration img{
    right: 30px;
    position: absolute;
    width: 200px !important;
    top: -150px;
}
.btnsFinal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.imgDecCustomer >img{
    width: 130px;
    margin: auto;
}

.contTexts{
    display: flex;
    flex-direction: column;
}
.contDecoration{
    width: 100%;
    background: var(--brand-yellow-color);
    height: 50px;
}
.featuresSelectedList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
    align-items: center;
    justify-content: flex-start;
}
.featuresSelected h3{
    margin: 1rem auto;
    font-size: 1rem;
    width: fit-content;
    font-weight: lighter;
    color: var(--primary-text-color);
}
.featuresSelected .h3Message{

    color: var(--second-text-color);
    }

.featuresSelectedList > .tagFeatureSelected{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: var(--border-color);
    padding: 1rem;
}
.featuresSelectedList > .tagFeatureSelected >small{
    width: fit-content;
    font-size: 1rem;
    margin-right: 5px;
}
.featuresSelectedList > .tagFeatureSelected >.btnDeleteTag{
    cursor: pointer;
}
.featuresSelectedList > .tagFeatureSelected >.btnDeleteTag> span{
    font-size: 22px;
    color: var(--button-primary-color);
}
.feturesSelectionBtn{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnsPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.messageConfirmation{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(155, 161, 166, 0.708);
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 101;
}
.messageConfirmation .messageInfo{
    width: max-content;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px var(--shadow-color);
}
.messageConfirmation button{
    margin: 1rem;
}

fieldset{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    
}
fieldset .budgetForm{
    width: max-content !important;
    height: fit-content !important;
    box-sizing: border-box;
    position: relative;
}

.budgetForm input{
    opacity: 0;
    position: absolute;
}
fieldset div label{
    padding: 1rem;
    transition: all .3s ease;
    border-radius: 5px;

    background-color: var(--shadow-color);
    color: var(--primary-text-color);
    margin: 0px;
            box-sizing: border-box;
            width: fit-content;
            position: relative;
            display: flex;
}
fieldset div label:hover{
    border: 1px solid var(--brand-yellow-color);
    box-shadow: 1px 1px 10px var(--shadow-color);
    cursor: pointer;
}
fieldset div input[type="checkbox"]:checked + label {
    background-color: var(--brand-yellow-color);
    color: white;
}

fieldset div input[type="checkbox"]{
    opacity: 0;
} 
.mat-form-field{

    width: 60%;
    margin: auto;
}

.journeyTable{
    width: 100%;
    height: 300px;
    overflow: auto;
    border-radius: 15px;
    background-color: transparent;
}
.journeyTable table{
    width: 100%;
    border-radius: 15px;
}

.infoPhone{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.infoPhone .matFormPhone{
    width: 50%;
}
@media screen and (max-width:860px) {
    .buildcards{
    
        width: 100%;
        
    }
    .formStepOne,.formStepTwo,.formStepThree{
        
        width: 90%;
       
    }
    .numbersLabel{
        width: 100%;
    }
    
    .numbersLabel .infot h3,p{
        font-size: initial !important;
        
    }
    
    .numbersLabel .costLabel{
       
        padding: 0px 1rem;
    }
    .numbersLabel .durationLabel{
        padding-left: 1rem;
    }
    .leftSection{
        width: 100% !important;
        padding: 5px;
    }
    .imgDecoration{
        display: none;
    }
    .selectCode {
        width: 40%;
    }
    .contentCard{
        width: 80%;
    }
    .featuresSelectedList{
        gap: 5px;
        align-items: center;
        justify-content: center;

    }
}


@media screen and (max-width:560px) {
    .sectionSteps{
        width: 100%;
        margin: 0;
        padding-top: 100px;
    }
    .stepsArea{
        width: 90%;
    }
    .formStepOne, .formStepTwo, .formStepThree{
        width: 100%;
        box-sizing: border-box;
    }
    .formStepTwo{
        padding: 1rem;
        
    }
    .formStepTwo .textOptions{
        font-size: 0.9rem;
        text-align: center;
        line-height: normal;
    }
    .formStepTwo .mainH2{
        font-size: 1rem;
    }
    .formStepTwo .textOptional{
        font-size: 0.7rem;
    }
    .contentCard {
        width: 100%;
    }
    .btnDeleteCard{
        box-shadow: none;
        right: -10px;
    }
    .btnDeleteCard mat-icon{
        font-size: 1.2rem;
        box-shadow: none;
    }
    .featuresSelectedList{
        gap: 3px;
    }
    .featuresSelectedList > .tagFeatureSelected{
        padding: 0rem 0.4rem;
        background-color: var(--button-primary-color);
    }
    .featuresSelectedList > .tagFeatureSelected > small{
        width: fit-content;
        font-size: 0.6rem;
        margin-right: 5px;
        color: #fff;
    }
    .featuresSelectedList > .tagFeatureSelected > .btnDeleteTag > span{
        font-size: 11px;
        color: #fff;
    }
    button{
        padding: 0.7rem 2rem;
    }
    .formStepThree{
        padding: 1rem;
    }
    fieldset{
        padding: 1rem 0.2rem;
        gap: 3px;
    }
    fieldset div label {
        padding: 0.5rem;
        margin: 0px;
        box-sizing: border-box;
        width: fit-content;
        position: relative;
        display: flex;
    }
    .budgetForm{
        width: max-content !important;
        height: fit-content !important;
        box-sizing: border-box;
        position: relative;
    }
    .budgetForm input{
        opacity: 0;
        position: absolute;
    }
    .numbersLabel .durationLabel {
        padding: 0px 1rem;
    }
    .numbersLabel > .infot h3, p{

        font-size: 13px !important;
        line-height: normal;
    }
    .numbersLabel > .infot p{
        margin: 0;
        margin-bottom: 1rem;
    }
    .numbersLabel .costLabel, .durationLabel{
        box-sizing: border-box;
    } 
    .numbersLabel .costLabel p{
        margin-top: 1rem;
    }
    .stepFourTitle{
        font-size: 2rem;
    }
    .top .leftSection .infoText h3{
        font-size: 1.5rem;
    }
    .infoText{
        width: 90%;
    }
    .infoText .details{
        width: max-content;
        padding: 1rem 0.5rem;
    }
    .infoText .details p{
        font-size: 1rem !important;
    }   
    .infoText .details p .titleLine{
        color: var(--button-primary-color);
    }
    .top .rightSection {
        height: 40vh;
        align-items: center;
    }
     .imgDecoration{
        display: flex;
     }
    .imgDecoration img{
        right: 6px;
        width: 111px !important;
        top: -25px;
    }
    .detailsDelivery{
        padding: 0rem 0.5rem;
    }
}
@media screen and (max-width:400px){
    
}