<app-navbar></app-navbar>
<app-details *ngIf="modalIs"></app-details> 
<app-basecardlist *ngIf="modalListIs"></app-basecardlist>
<app-features-list *ngIf="modalFeatureListIs"></app-features-list>
<section class="sectionSteps">

  <div class="title">
    <h2>
      Make your Idea
    </h2>
  </div>
  <div class="stepsArea">

    <mat-horizontal-stepper linear #stepper>
      <!-- first step customer info -->
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup" class="formStepOne">
          <ng-template matStepLabel>About you</ng-template>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameCtrl" placeholder="Nombre completo" required>
            <mat-error *ngIf="firstFormGroup.get('nameCtrl')!.hasError('required')">
              Names is <strong>required</strong>
            </mat-error>
          </mat-form-field>

           <div class="infoPhone">
             <app-country-code-select formControlName="codeCtrl" class="selectCode"></app-country-code-select>

             <mat-form-field class="matFormPhone">
               <mat-label>Phone</mat-label>
               <input matInput formControlName="phoneCtrl" placeholder="Número de teléfono" required>
               <mat-error *ngIf="firstFormGroup.get('phoneCtrl')!.hasError('required')">
                 Phone is <strong>required</strong>
               </mat-error>
               <mat-error *ngIf="firstFormGroup.get('phoneCtrl')!.hasError('pattern')">
                 Phone can only contain numbers
               </mat-error>
             </mat-form-field>
           </div>
          
           


          <mat-form-field>
            <mat-label>Name company</mat-label>
            <input matInput formControlName="companyCtrl" placeholder="Empresa" required>
            <mat-error *ngIf="firstFormGroup.get('companyCtrl')!.hasError('required')">
              Name Company is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('companyCtrl')!.hasError('pattern')">
              Company Name field can only contain letters
            </mat-error>
          </mat-form-field>

          <div class="contBtn">
            <button mat-button matStepperNext [disabled]="firstFormGroup.invalid"
              (click)="createCustomer()">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- second step basecard selection -->
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">


        <form [formGroup]="secondFormGroup" class="formStepTwo">
          <h2 class="textOptions">Set name app</h2>
          <mat-form-field style="margin-bottom: 1rem;">
            <mat-label>Name</mat-label>
            <input class="inputCustom" matInput formControlName="nameBuildCtrl" placeholder="Nombre completo" required>
            <mat-error *ngIf="secondFormGroup.get('nameBuildCtrl')!.hasError('required')">
              Name fields is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="secondFormGroup.get('nameBuildCtrl')!.hasError('pattern')">
              Name field can only container letters 
            </mat-error>
          </mat-form-field>

          <div class="previewCard">

            <h2 class="textOptions mainH2" *ngIf="basecardExist">You've selected this base</h2>
            <h2 class="textOptions mainH2"  *ngIf="!basecardExist">Select a base</h2>
            <div class="contentCard">
              <div class="btnDeleteCard" *ngIf="basecardExist" (click)="deleteSelectionCard()">
                <mat-icon>cancel</mat-icon>
              </div>
              <div class="btnAdd" *ngIf="!basecardExist" (click)="seeBaseList()">
                <span class="material-icons md-48">add</span>
              </div>
              <app-basecardselected *ngIf="basecardExist" [data]="basecardSelected"></app-basecardselected>
            </div>

          </div>
          <ng-template matStepLabel>Choose your App</ng-template>

          <h2 class="textOptions">Or you can provide a URL link with the base you want to use <span
              class="textOptional">Optional</span></h2>
          <mat-form-field>
            <mat-label>url</mat-label>
            <input matInput formControlName="customBaseCtrl" placeholder="https://google">
          </mat-form-field>

          <div >
            <h2 class="textOptions ">Select features <span class="textOptional">Optional</span></h2>
            
              <div class="featuresSelected">
                  <h3 *ngIf="selectedFeatures.length > 0">You have selected</h3>
                  <h3 *ngIf="selectedFeatures.length <=0" class="h3Message">You haven't selected any features</h3>
                  <div class="featuresSelectedList">
                    <div class="tagFeatureSelected" *ngFor="let feature of selectedFeatures">
                      <small>{{feature.name}}</small>
                      <div class="btnDeleteTag" (click)="deleteFeature(feature)">
                        <span class="material-icons md-48">close</span>
                      </div>
                    </div>
                  </div>
                  <h3 >Total cost: {{totalCost | currency}}</h3>
                  <div class="feturesSelectionBtn">
                    <button class="btnFeature" (click)="seeFeatureList()">Add feature</button>
                  </div>
              </div>
           
           
          </div>
            <div class="messageConfirmation" *ngIf="confirmationStep">
              <div class="messageInfo">

                <h3>Do you want to continue with this information?</h3>
                <button mat-button class="btnBack" (click)="closeAlert()">No</button>
                <button mat-button matStepperNext (click)="saveUrlOrBasecard()">yes</button>
              </div>
            </div>
          <div  class="btnsPage">
            <button mat-button matStepperPrevious class="btnBack">Back</button>
            <button mat-button  (click)="validateInfo()">Save</button>
          </div>
        </form>
      </mat-step>
      <!-- third step Delivery Details -->
      <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <form [formGroup]="thirdFormGroup" class="formStepThree">
          <ng-template matStepLabel>Delivery Details</ng-template>
          
          <fieldset>
            <legend>Documentation</legend>
            <div class="budgetForm" *ngFor="let doc of documentationOptions">
                <input type="checkbox" id="{{doc}}" [value]="doc" (change)="onCheckboxChange($event, 'documentation')"> 
                <label for="{{doc}}">{{doc}}</label>
            </div>
        </fieldset>
        
          <fieldset>
            <legend>Operating Systems</legend>
         
          
          <div class="budgetForm" *ngFor="let os of operatingSystems">
            <input type="checkbox" [value]="os" (change)="onCheckboxChange($event, 'operatingSystems')" id="{{os}}"> 
              <label for="{{os}}">{{os}}</label>
           
             </div>
        </fieldset>

          <fieldset>
            <legend>Platforms</legend>
            
            <div class="budgetForm" *ngFor="let platform of platforms">
              <input type="checkbox" [value]="platform"  (change)="onCheckboxChange($event, 'platforms')" id="{{platform}}"> 
              <label for="{{platform}}">{{platform}}</label>
            </div>
          </fieldset>


          <div style="margin-top: 1rem; display: flex;">
            <button mat-button matStepperPrevious class="btnBack">Back</button>
            <button mat-button matStepperNext (click)="saveDeliveryDetails()">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- fourth step resume info -->
      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <div class="formStepFour">
          <div class="messageConfirmation" *ngIf="messageStepFour">
            <div class="messageInfo">

              <h3>We'll get back to you soon!</h3>
              <button mat-button class="btnBack" (click)="closeAlertFourStep()">Cerrar</button>
            </div>
          </div>
          <h2 class="stepFourTitle">Details of your app</h2>
          <div class="top">

            <div class="leftSection">
              <div class="container">
  
              
                <div class="infoText">
    
                  <h3>Customer Info</h3>
                  <div class="details">
                    
                    <p> <span class="titleLine"> Name:</span> {{ customerInfo?.name }}</p>
                    <p> <span class="titleLine"> Company:</span> {{ customerInfo?.companyName }}</p>
                    <p> <span class="titleLine"> country code:</span> {{ customerInfo?.countryCode }}</p>
                    <p> <span class="titleLine"> Phone:</span> {{ customerInfo?.numberPhone }}</p>
                  </div>
                  <div class="imgDecCustomer">
                    <img src="../../../../assets/images/dev.svg" alt="">
                  </div>
                </div>
    
              </div>
              <div class="container">
                <div class="infoText">
    
                  <h3>Basecard Info</h3>
                  <div class="details">
                    
                    <p> <span class="titleLine">Title: </span> {{ newBuildCard?.name }}</p>
                    
                    <p> <span class="titleLine">Category: </span> {{ basecardSelected?.category }}</p>

                    <div class="journeyTable">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                          <!-- Name Column -->
                          <ng-container matColumnDef="Feature">
                            <th mat-header-cell *matHeaderCellDef style="color: rgb(75, 74, 74);"> Feature </th>
                            <td mat-cell *matCellDef="let element" style="color: rgb(75, 74, 74);"> {{element.name}} </td>
                          </ng-container>
                        
                          <!-- duration Column -->
                          <ng-container matColumnDef="Duration">
                            <th mat-header-cell *matHeaderCellDef style="color: rgb(75, 74, 74);"> Duration </th>
                            <td mat-cell *matCellDef="let element" style="color: rgb(75, 74, 74);"> {{element.duration }} days </td>
                          </ng-container>
                          
                          <!-- Cost Column -->
                          <ng-container matColumnDef="Cost">
                            <th mat-header-cell *matHeaderCellDef style="color: rgb(75, 74, 74);"> Cost </th>
                            <td mat-cell *matCellDef="let element" style="color: rgb(75, 74, 74);"> {{element.cost | currency}} </td>
                          </ng-container>
  
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                  </div>
                  </div>
                </div>
                
              </div>
    
              <div class="container containerDetailsDelivery">
                
                <h3>Deliverables</h3>
                <div class="infoText  deliverys">
    
                <div class="so detailsDelivery infoText">
    
                  <h3>Operating Systems</h3>
                  <div class="docChip" *ngFor="let os of thirdFormGroup.get('operatingSystems')?.value">
                    <p>{{ os }}</p>
                  </div>
                </div>
                <div  class="platforms detailsDelivery infoText">
                  <h3>Platforms</h3>
                  <div class="docChip" *ngFor="let platform of thirdFormGroup.get('platforms')?.value">
                    <p>{{ platform }}</p>
                  </div>
                </div>
                <div  class="doc detailsDelivery infoText">
    
                <h3>Documentation</h3>
                <div class="docChip" *ngFor="let doc of thirdFormGroup.get('documentation')?.value">
                  <p>{{ doc }}</p>
                </div>
              </div>
              </div>
            </div>
              <div class="container numbersLabel">
                <div class="infot costLabel">
    
                  <h3> Total Cost</h3>
                  <p>{{ newBuildCard?.cost | currency}}</p>
                </div>
                
              
                
                <div class="infot durationLabel">
    
                  <h3>Duration of development</h3>
                  <p>{{ newBuildCard?.developmentDuration }} days</p>
                </div>
              </div>
            </div>
            <div class="rightSection">
              <img class="preview" src="../../../../assets/images/appTest.svg" alt="">
              
            </div>
          </div>
          


          <div class="imgDecoration">
            <img src="../../../../assets/images/LogotipoYellowBlack.png" alt="imgtime">
          </div>
        </div>

        <div class="btnsFinal">
          <button mat-button matStepperPrevious class="btnBack">Back</button>
          <button mat-button (click)="createBuildcard()" class="btnCreate">Crear y Guardar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>