<app-navbar></app-navbar>
<app-details *ngIf="modalIs"></app-details> 
<header>
    <div class="introduction">

        <h2>
            Make your idea!
        </h2>
        <h1>
           with Klouster Lab
        </h1>
        <div >
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis.</p>
            <p>Lorem, ipsum dolor.</p>
        </div>
        
        <button class="btnNewBase" [routerLink]="['newbuild']">
            Make your idea <span>!Now¡</span> 
        </button>
    </div>
</header>
<button  class="btnNewBase btnContinue pulse-button" *ngIf="canContinue"[routerLink]="['newbuild']">Continue</button>
<section class="sectionApps">
    <app-cards></app-cards>
</section>
<app-footer></app-footer>