header{
    background-image: url(../../../../assets/images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 3rem 10rem;
    box-sizing: border-box;
    height: 550px;
    position: relative;

}
header >.introduction> h2 , div ,p{
    color: var(--primary-text-color);
    box-sizing: border-box;
}
header >.introduction> h2 {
    font-size: 46px;
    letter-spacing: 2.5px;
    color: var(--primary-text-color);
    border-radius: 0px 15px 15px 15px;
   
}
header >.introduction> h1 {
    font-size: 36px;
}
header>.introduction> h1, h2 , p{
    width: max-content;
    box-sizing: border-box;
    padding: 1rem 3rem;
    background-color: var(--main-bg-color) !important;
    box-shadow: 0px 5px 10px var(--shadow-color);
    border-radius: 0px 15px 15px 15px;


}
header>.introduction>div>p{
    font-size: 22px;
    margin-top: 1rem;
    max-width: 120%;
}

header >.introduction> button, .btnContinue{
    padding: 1rem 3rem;
    background-color: var(--brand-yellow-color);
    color: var(--primary-text-color);
    border-radius: 5px;
    border: 2px solid var(--primary-text-color) !important;
    cursor: pointer;
    position: absolute;
    right: 14rem;
    transition: all 0.3s ease;
    margin-top: 10px;
}
header >.introduction> button:hover{
    transform: scale(1.1, 1.1);
}
.introduction{
    width: 80%;
    margin: auto;
}
.btnNewBase{
    font-size: 1rem;
    font-weight: bold;
}
.btnNewBase> span{
    font-size: 1.3rem;
    background: transparent;
    margin-left: 5px;
    color: var(--brand-black-color);
}
.btnContinue{
    position: fixed;
    right: 20px;
    bottom: 30px !important;
    transition: all .3s ease;
}
.btnContinue:active{
    transform: scale(.9,.9);
}

@keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .pulse-button {
    animation: heartbeat 1s infinite;
  }


  
@media screen and (max-width:860px) {
    header{
  
        padding: 3rem 6rem;
    
    }
  .sectionApps{
    overflow: hidden;
  }
    header >.introduction> h2 {
        font-size: 28px;
        letter-spacing: 1.5px;
        
    }
    header>.introduction> h2 , p{
    
        padding: 1rem 2rem;
    
    }
    header>.introduction>div>p{
        font-size: 1rem;
        margin-top: 1rem;
        max-width: 90%;
    }
    
    header >.introduction> button, .btnContinue{
        z-index: 90;
    }
    .introduction{
        width: 90%;
    }
    header >.introduction> button{
        padding: 1rem ;
        
        position: absolute;
        right: 1rem;
        
    }
    .btnNewBase{
        font-size: 1rem;
    }
    
    
}

@media screen and (max-width:560px) {
    header{
        padding: 2rem;
        padding-top: 6rem;
        margin-bottom: 3rem;
    }
 
    header >.introduction> h2, h1  {
        font-size: 1.3rem;
    }
    header>.introduction> h1, h2 , p{
        padding: 1rem 2rem;
    }
    header>.introduction>div>p{
        font-size: 1rem;
    }
    .introduction{
        width: 90%;
    }
    .btnNewBase{
        font-size: 1rem;
        border-radius: 5px 0px 5px 5px !important;
        padding: 0.6rem 1rem !important;
    }
 .btnContinue{
        background-color: var(--button-primary-color);
        color: var(--brand-white-color);
    }
    

   
}
@media screen and (max-width:430px) {
    header{
        padding-top: 8rem;
        margin-bottom: 0rem;
    }
 
    header >.introduction> h2, h1  {
        font-size: 1.3rem !important;
    }
    header>.introduction> h1, h2 , p{
        padding: 0.5rem 1rem !important;
    }
    header>.introduction>div>p{
        font-size: 0.7rem;
    }
    .introduction{
        width: 90%;
    }
}