.bgModal{
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background: rgba(243, 235, 242, 0.463);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.modal{
    width: 80%;
    height: 90vh;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
}
/* styles for Info in modal right part */
.modal>.rightSection{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: relative;
    padding: 3rem 2rem;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}
.closeBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.cards{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
/* Filter sections styles */
.leftSection{
    width: 30%;
    padding: 3rem 2rem;
    background: var(--brand-yellow-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectCategories{
    background: transparent;
    display: flex;
    flex-direction: column;
}

.selectCategories > label{
    background: transparent;
    color: var(--second-bg-color);
    font-weight: bolder;
    font-size: 1.3rem;
}
.selectCategories > select{
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 5px 15px;
}
.cards .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cards .title h2{
    font-size: 2rem;
    width: fit-content;
    color: var(--primary-text-color);
}
.cardsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.feature-card{
    width: 320px !important;
    margin: 1rem 0px;
}
.filterBySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filterBySearch input{
    height: 30px;
    margin: 0px 1rem 0px 0.5rem;
    box-sizing: border-box;
    border-radius: 0px 5px 5px;
    outline: none;
    border: 1px solid var(--border-color-second);
    padding-left: 5px;
    color: var(--primary-text-color);
    font-size: 1rem;
}
.filterBySearch span{
    color: var(--primary-text-color);
    font-size: 2rem;
}

/* messages popup */

.messagesAddedContainer{
    width: max-content;
    padding: 1rem 2rem;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    visibility: hidden;
}
.messagesDisplay{
    visibility: visible;
}
.messagesAddedContainer .messages{
    font-size: 0.8rem;
}
.addedMsg{
    color: var(--button-primary-color);
}
.removeMsg{
    color: var(--alerts-color-warning);
}
@media screen and (max-width:860px)  {
    .cards .title{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
@media screen and (max-width:560px)  {
    .modal{
        width: 95%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    /* styles for Info in modal right part */
    .modal>.rightSection{
        width: 100%;
        padding: 1rem !important ;
        overflow: auto;
        position: initial;
    }
    
    /* Filter sections styles */
    .leftSection{
        padding: 1rem !important ;
        width: 100%;
    }
    
    .messagesAddedContainer{
        position: absolute;
        bottom: 20px;
        width: 90%;
        z-index: 300;
        box-shadow: 1px 1px 10px var(--shadow-color);
    }

    .selectCategories > label{
        font-size: initial !important ;
    }
    .selectCategories > select{
        font-size: initial !important ;
        padding: 5px !important ;
    }
    .cards .title{
        display: flex;
        flex-direction: column; 
    }
    .cards .title h2{
        font-size: 1.4rem;
    }
    .closeBtn{
        right: 5px;
        top: 5px;
    }
    .filterBySearch[_ngcontent-ggr-c116] span[_ngcontent-ggr-c116]{
        font-size: 1.5rem;
    }
    .filterBySearch[_ngcontent-ggr-c116] input[_ngcontent-ggr-c116]{
        height: 20px;
        margin: 0;
    }
    
    /* messages popup */

    .messagesAddedContainer .messages{
        font-size: 0.7rem;
        text-align: center;
    }
   
}