/* section cards */

.buildcards{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 2rem auto;
    gap: 20px;
    overflow: auto;
}
.buildcards >.card{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 500px;
    width: 40%;
    margin: auto;
    border: 1px solid var(--border-color);
    border-radius: 0px 0px 0px 15px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
    justify-content: space-between;
    background: linear-gradient(152.16deg, #F8F9FA 1.78%, #F4F0FC 50.33%, rgba(249, 240, 238, 0.15) 97.87%) !important;
    
}
.card > section{
    padding:1rem 0;
}
.labelsInfo{
    padding: 0 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.ttlabel{
    font-weight: bold;
    text-transform: capitalize;
}
.titleBuildcard{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-text-color);
    text-transform: capitalize;
    margin-bottom: 2px;
}

.tag{
    width: max-content;
    box-sizing: border-box;
    padding: 5px 1rem;
    border-radius: 50px;
    box-shadow:0px 5px 10px var(--shadow-color);
    margin-left: 1rem;
}
.buildcards >.card>section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: none;
   background: transparent;
}

.titleAndOptions{
    display: flex;
    flex-direction: row;
    position: relative;
}
.optionsCard{
    position: absolute;
    right: 10px;
}
.iconOptions{

    cursor: pointer;
}
.iconOptions:hover .optionsList{
   display: block;
}
.titleAndOptions .optionsCard > .optionsList{
    z-index: 80;
    position: absolute;
    right: 5px;
    text-align: right;
    padding: 0.6rem;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
}
.titleAndOptions .optionsCard > .optionsList >.option{
    list-style: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin: 2px auto;
    padding: 0.3rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--primary-text-color);
}
.iconli{
    margin-right: 5px;
}
.titleAndOptions .optionsCard > .optionsList >.option:hover{
    background: var(--shadow-color);
}
/* styles of modal change name */
.changeNameForm{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: -46px;
    background-color: #fdfdfdeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 510px;
}
.changeNameForm h2{
    width: max-content;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    text-transform: capitalize;
    margin: 1rem auto;
}
.changeNameForm form{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: max-content;
    box-sizing: border-box;
    padding: 1rem;
    left: 17px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--shadow-color);
    background-color: #ffffff;
}
.changeNameTxt{
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color-second);
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}
.btnChange{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--brand-yellow-color);;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btnDeleteCard{
    position: absolute;
    right: 10px;
    top: 20px;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;
}
.btnDeleteCard:hover mat-icon{
    box-shadow: 1px 1px 10px var(--brand-yellow-color);
    transform: scale(1.1,1.1);
}
.btnDeleteCard:active mat-icon{
    transform: scale(.9,.9);
}
.btnDeleteCard mat-icon{
    font-size: 1.8rem;
    background: var(--main-bg-color);
    color: var(--brand-yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 10px var(--shadow-color);
    transition: all .3s ease;
}
/* styles of progress bar */
.progressBarArea{
    height: 100px ;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.labelsProgress{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}
.labelProcess{
    width: fit-content;
    padding: 0.5rem;

}
.buildcards >.card>footer{
    padding: 0.3rem 1rem;
    background: #fff;
    box-sizing: border-box;
   
}
.buildcards >.card>footer> button{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background: var(--brand-yellow-color);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: var(--primary-text-color);
}
.buildcards >.card>footer>.footerInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
    box-sizing: border-box;
}
.buildcards >.card>footer>.footerInfo div{
    width: 45%;
    background: transparent;
}
.buildcards >.card>footer>.footerInfo div >h3, p{
   
    background: transparent;
}
.features{
    border-right: 1px solid var(--primary-text-color);
    box-sizing: border-box;
}
.Duration{
    padding-left: 1rem;
    box-sizing: border-box;
}
.message{
    width: 100%;
    height: 70vh;
    display: flex;

}
.message > h2{
    width: max-content;
    margin: auto;
    color: var(--second-text-color);
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 2rem;
}


@media screen and (max-width:860px) {
    .buildcards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
    .card{
        width: 100%;
    }
}