nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--main-bg-color);
    height: 100vh;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: fixed;
    z-index: 100;
}
.btnNav{
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    cursor: pointer;
    transition: all 3ms ease;
    color: var(--primary-text-color);
}
.btnNav:hover, .btnUndo{
    box-shadow: 0px 5px 10px var(--shadow-color);
}
.btnUndo{
    margin-bottom: 1.5rem;
}
nav>.bottom{
position: fixed;
bottom: 0;
}
.logo>img{
    width: 56px;
}
.btnProfile{
    border-radius: 100%;
    background:#eeeeee;

}
.btnProfile>span{
    
    background: transparent;
}

li a{
    text-decoration: none;
    color: var(--primary-text-color);
}
li a:active{
    color: var(--primary-text-color);
}
/* styles for custom label */
.btnDemo{
    position: relative;
    

}
.btnDemo:hover{
    overflow: visible;

}
.btnDemo:hover > .customLabel{
    transform: translateX(280px);

}
.customLabel{
    position: absolute;
    background: var(--brand-yellow-color);
    color: var(--main-bg-color);
    width: max-content;
    font-size: 18px;
    padding: 1rem 2rem;
    left: -210px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}
.menu-mobile{
    display: none;
}
.menuMobileList
    {
        
        display: none;

    }
@media screen and (max-width:560px)  {
    .menu-mobile{
        display: flex;
        font-size: 2rem;
        align-items: center;
        color: var(--primary-text-color);
    }
    .top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 1.5rem;
    }
    nav{
        flex-direction: row;
        height: initial;
        width: 100%;
        margin-bottom: 1rem;
    }
    .btnNav{
        margin: initial;
    }
    .menuNav{
        display: none;
    }
    .menuMobileList
    {
        
        display: none;
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid var(--shadow-color);
        transition: all .3s ease;

    }
    .menuMobileListActive{
        display: flex;
        padding-bottom: 1rem;
    }
    .btnNavMobile{
        display: flex;
        width: 80%;
        margin: 5px auto;
        height: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: var(--auxiliar-bg-color);
        border-radius: 5px;
        cursor: pointer;
    }
    .btnNavMobile:active{
        background-color: var(--brand-yellow-color);
        transform: scale(.9);
    }
    .btnNavMobile >a {
        width: 100%;
        background: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        color: var(--primary-text-color);
    }
    .btnNavMobile >a >span{
        color: var(--brand-yellow-color);
        font-size: 2rem;
    }
 
}