section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 2rem 0px;
    justify-content: space-around;

}
.search{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selectCategories{
    background: transparent;
    display: flex;
    flex-direction: column;
}
.selectCategories > select{
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    border: 1px solid var(--border-color-second);
    padding: 5px 15px;
    
}
.filterBySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filterBySearch input{
    height: 28px;
    margin: 0px 1rem 0px 0.5rem;
    border-radius: 0px 5px 5px;
    outline: none;
    border: 1px solid var(--border-color-second);
    padding: 5px;
    color: var(--primary-text-color);
    font-size: 1rem;
}
.filterBySearch span{
    color: var(--primary-text-color);
    font-size: 2rem;
}
app-basecard{
    box-sizing: border-box;
    width: 32%;
    min-width: 300px;
    margin: 1rem auto;
}
@media screen and (max-width:860px) {
    section{
        width: 90%;
        margin: auto;
        padding: 2rem 4rem;
    }
    
}

@media screen and (max-width:560px) {
    section{
        width: 100%;
        padding: 0px;
        margin: 0;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .filterBySearch input{
        height: 18px;
        margin: 5px;
        font-size: 0.8rem;
    }
    .selectCategories select{
        
        height: 30px;
        font-size: 0.9rem;
        padding: 5px ;
    }
}