<div class="card" [ngClass]="{'isSelectedCard':featureIsSelected}">
    <div class="btnDeleteCard" *ngIf="featureIsSelected" (click)="removeThisFeature()">
        <mat-icon>cancel</mat-icon>
      </div>
    <div class="sectionInfo" [ngClass]="{'isSelectedContent':featureIsSelected}">
        <div class="infotexts">

            <div class="titles">
                <h3>Feature</h3>
                <h2>{{data.name}}</h2>
            </div>
            <div class="info">
                
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="imagePreview">
            
                <img class="preview" src="../../../assets/images/appTest.svg" alt="images of app ">
            
        </div>
    </div>
    <footer [ngClass]="{'isSelectedContent':featureIsSelected}">
        <div class="footerInfo">

            <div class="footerText">
                <small>Cost From <span class="infoValue">{{data.cost | currency}}</span></small>
                <small>Duration From <span class="infoValue">{{data.duration}} days</span></small>
            </div>
        </div>
        <div class="btnAdd" *ngIf="!featureIsSelected" (click)="addFeature(data); $event.stopPropagation()">
            <span class="material-icons md-48">add</span>
          </div>
    </footer>
</div>