@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #f7f7f7;
  --auxiliar-bg-color: #eee;
  --second-bg-color: #f8f9fa;
  --auxiliar-bg-color: #eee;
  --primary-text-color: #333333;
  --shadow-color: #ccced1;
  --alerts-color-warning: #db3700;
  --button-primary-color: #0080ff;
  --border-color: #d6d7dd;
  --border-color-second: #bbbbbe;
  --second-text-color: #9b9fb1;
  
  /* brands colors */
  --brand-yellow-color: #fdd500;
  --brand-black-color: #000;
  --brand-white-color: #fff;

}
@font-face {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('./assets/fonts/Gilroy-Bold.ttf') format('woff');
  }
* {
  margin: 0;
  padding: 0;
  
}


html,
body {
  height: 100%;
  background: var(--main-bg-color);
  font-family: 'Gilroy-Bold ☞' !important;
}
body {
  margin: 0;
  
}
h2,h3,button, input,option,select,mat-form-field,mat-label, label,mat-error,strong,small,mat-step,mat-horizontal-stepper,ng-template{
  font-family: 'Gilroy-Bold ☞' !important;
}

.mat-tab-label {
  width: 80px !important;
  min-width: fit-content !important;
  box-sizing: border-box !important;
  padding: 1rem !important;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  width: 80px !important;
}
.mat-step-icon-content,
.mat-step-icon .mat-icon {
  color: var(--primary-text-color);
  background: transparent;
}
.mat-step-header .mat-step-label.mat-step-label-active,
.mat-step-label,
.mat-step-label .mat-step-label-active .mat-step-label-selected,
.mat-step-text-label .ng-star-inserted {
  color: var(--primary-text-color) !important;
  background: transparent !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: var(--primary-text-color);
}

::ng-deep .mat-form-field-infix{
    color: var(--primary-text-color) !important;
}
::ng-deep input.mat-input-element {
    color: #484a4c !important;
  }
  
  ::ng-deep .mat-input-element .mat-form-field-autofill-control .inputCustom .ng-tns-c136-1 .cdk-text-field-autofill-monitored .ng-dirty .ng-valid .ng-touched{
    color: #00e676 !important;
  }

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit  {
  background-color: var(--brand-yellow-color) !important;
}
.mat-stepper-vertical, .mat-stepper-horizontal{
  background: transparent;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
  color: var(--brand-yellow-color)!important;
 
}
.mat-form-field-appearance-legacy .mat-form-field-ripple ,
.mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple,
.mat-form-field-ripple,
.mat-form-field-appearance-legacy .mat-form-field-ripple,
.mat-form-field-appearance-legacy .mat-form-field-underline ,
.mat-form-field-appearance-legacy .mat-form-field-underline,.mat-form-field-appearance-legacy .mat-form-field-underline
{
  background-color: var(--brand-yellow-color) !important;

}

.cdk-overlay-pane{
  width: max-content !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: var(--brand-yellow-color) !important;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] svg{
  width: 20px !important;
  height: 20px !important;
}
.mat-spinner.mat-spinner.mat-progress-spinner.mat-primary.mat-progress-spinner-indeterminate-animation{
  width: 20px !important;
    height: 20px !important;
    overflow: hidden !important;

}
@media screen and (max-width:900px) {
  .mat-step-header, .mat-step-header:hover{
    padding: 3px !important;
  }
  .mat-step-text-label{
    font-size: 10px !important;
  }
  .mat-horizontal-stepper-header .mat-step-icon{
    margin-right: 2px !important;
  }
  
}
@media screen and (max-width:600px) {
  .mat-horizontal-content-container{
      overflow: visible !important;
      padding: 0px;
  }
}
@media screen and (max-width:560px) {
  .mat-step-header, .mat-step-header:hover{
    padding: 0 !important;
    
  }
  .mat-step-text-label{
    font-size: 8px !important;
  }
  .mat-horizontal-stepper-header .mat-step-icon{
    margin-right: 2px !important;
  }
  .mat-step-icon-content, .mat-step-icon .mat-icon span{
    font-size: 10px !important;
  }
  .mat-horizontal-stepper-header .mat-step-icon{
    width: 18px !important;
    height: 18px !important;
  }
}