.bgModal{
    width: 100vw;
    height: 100vh;
    z-index: 199;
    background: rgba(243, 235, 242, 0.463);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.modal{
    width: 80%;
    height: 90vh;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
}
/* styles for Info in modal right part */
.modal>.rightSection{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
}
.closeBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.cards{
    overflow: auto;
    width: 100%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;

}
.leftSection{
    width: 30%;
    padding: 3rem 2rem;
    background: var(--brand-yellow-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.selectCategories{
    background: transparent;
    display: flex;
    flex-direction: column;
}
.selectCategories > label{
    background: transparent;
    color: var(--second-bg-color);
    font-weight: bolder;
    font-size: 1.3rem;
}
.selectCategories > select{
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 5px 15px;
}

.btnContinue{
    padding: 1.3rem 4rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: var(--main-bg-color);
    color: var(--brand-yellow-color);
    font-weight: bold;
    cursor: pointer;

}

@media screen and (max-width:860px) {
    .modal{
        width: 95%;
    }
    /* styles for Info in modal right part */
    .modal>.rightSection{
        padding: 1rem !important ;
    }
    .cards{
        
        width: 100% !important ;
        gap: 10px !important ;
        display: block !important;
    
    }
    .leftSection{
        padding: 3rem 0.5rem !important ;
    }
 
    .selectCategories > label{
        font-size: initial !important ;
    }
    .selectCategories > select{
        
        font-size: initial !important ;
        padding: 5px !important ;
    }
    
    .btnContinue{
        padding: 2px 5px !important ;
        font-size:initial !important ;
    
    }
}
@media screen and (max-width:560px)  {
    .modal{
        width: 95%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    /* styles for Info in modal right part */
    .modal>.rightSection{
        width: 100%;
        padding: 1rem !important ;
        position: initial;
        overflow: auto;
        padding-bottom: 0 !important;
    }
    
    /* Filter sections styles */
    .leftSection{
        padding: 1rem !important ;
        width: 100%;
    }
    .selectCategories > label{
        font-size: initial !important ;
    }
    .selectCategories > select{
        font-size: initial !important ;
        padding: 5px !important ;
    }
    .btnContinue{
        position: absolute;
        width: 80%;
        bottom: 11px;
        padding: 1rem 5rem !important;
        left: 36px;
        background-color: var(--brand-yellow-color);
        color: var(--primary-text-color);
        z-index: 250;
        box-shadow: 1px 1px 10px var(--shadow-color);
    }

    .cards .title{
        display: flex;
        flex-direction: column; 
    }
    .cards{
        display: flex;
        gap: 10px !important;
        padding-bottom: 1rem;
    }
    .cards .title h2{
        font-size: 1.4rem;
    }
    .closeBtn{
        right: 5px;
        top: 5px;
    }
    .filterBySearch span{
        font-size: 1.5rem;
    }
    .filterBySearch input{
        height: 20px;
        margin: 0;
    }
    
    
   
}