<footer>
    <div class="logo">
        <img src="../../../assets/images/logoHorKloustrYellowBlack.png" alt="Kloustr Lab logo">
    </div>

    <div class="sectionRight">
        
        <ul>
            <li> <a href="/terms">Terms</a> </li>
            <li> <a href="/policy">Privacy Policy</a></li>
        </ul>
    </div>
</footer>