header{
    width: 90%;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    padding-top: 2rem;
}
header>.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top > h2{
    width: max-content;
    box-sizing: border-box;
    font-size: 2rem;
    color: var(--primary-text-color);

}
.top>button{
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--brand-yellow-color);
    transition: all .3s ease;
    color: var(--second-bg-color);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.top>button:hover{
    opacity: .9;
    box-shadow: 1px 1px 10px var(--shadow-color);
}
.top>button:active{
    transform: scale(.9,.9);
}
.filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
}
.filter > .search > input{
    border-radius: 5px;
    outline: none; margin-left: 5px; 
    height: 20px;
}
.tabs{
    width: 100%;
}
.search{
    position: absolute;
    right: 0;
    z-index: 50;
}

.search label{
    font-weight: bold;
    color: var(--primary-text-color);
    letter-spacing: 1px;
    margin-left: 1rem;
}
.search input{
    outline: none;
    border: 1px solid var(--second-text-color);
    height: 1.5rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
}
.search input:focus{
   
    border-color: var(--brand-yellow-color);
    
}
.searchMobile ,.menu-mobile{
    display: none;
}
.searchLong{
    display: flex;
}
@media screen and (max-width:560px)  {
    header{
        width: 100%;
        margin-left: 0px;
        padding-top: 120px;
    }
    .top{
        padding: 0px 1rem;
        align-items: center;
    }
    .top > h2{
        margin: 0;
    }
    .menu-mobile{
        display: flex;
        cursor: pointer;
        margin: 10px;
        color: var(--second-text-color);
    }
    .searchMobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-end !important;
        align-items: flex-end;
        width: fit-content;
        height: max-content; 
    }
    .searchMobileOp{
        display: none;
        position: absolute;
        top: 30px;
        right: 5px;
    }
    .searchMobileOpActive{
        display: flex;
        background-color: var(--auxiliar-bg-color);
        padding: 1rem;
        gap: 5px;
        border-radius: 5px 0px 5px 10px;
        border: 1px solid var(--border-color-second);
        box-shadow: 1px 1px 10px var(--shadow-color);
        align-items: center;
    }
    .searchLong{
        display: none;
    }
}